.transactions-container {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px;
    margin: 0;
}

.transactions-header {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 20px;
    margin: 0;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.transactions-list {
    margin: 20px 0;
    list-style: none;
    padding: 0;
}

.transactions-list li {
    margin-bottom: 10px;
    font-size: 16px;
}

.transactions-list li span {
    color: var(--highlight-color);
    font-weight: 500;
}

.transactions-list li strong {
    font-weight: bold;
    margin-left: 10px;
}

.loading-text {
    font-size: 16px;
    color: var(--text-color);
    text-align: center;
    margin-top: 20px;
}
