.header {
    display: flex;
    justify-content: center;
    background-color: var(--background-color);
    color: var(--text-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.header-nav {
    display: flex;
    width: 100%;
}

.nav-item {
    text-decoration: none;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    flex: 1;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-item:hover {
    background-color: #e3e4e6; /* Subtle hover color for light mode */
    color: var(--text-color);
}

body.light-mode .nav-item.active-tab {
    background-color: #d4d6d9; /* Lighter highlight for readability in light mode */
    color: var(--text-color);
}

body.dark-mode .nav-item.active-tab {
    background-color: #394149; /* Subtle highlight color for dark mode */
    color: var(--text-color);
}

.nav-icon img {
    width: 24px;
    height: 24px;
    margin-bottom: 3px;
}

body.light-mode .nav-icon img {
    filter: none;
}

body.dark-mode .nav-icon img {
    filter: invert(1) brightness(2);
}

.nav-text {
    font-size: 12px;
    text-align: center;
}

@media (max-width: 768px) {
    .nav-icon img {
        width: 30px;
        height: 30px;
        margin-bottom: 2px;
    }

    .nav-text {
        display: block;
        font-size: 10px;
    }
}
